/* IMPORT FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ESTILOS GENERALES */
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* HEADER */
header{
  color: white;
}

.navbar {
  --bs-navbar-color: #d5d5d5; /* Color del texto */
  --bs-navbar-hover-color: rgb(255, 255, 255); /* Color del texto al pasar el ratón */
  --bs-navbar-active-color: rgb(255, 255, 255); /* Color del texto activo */
  --bs-navbar-brand-hover-color: rgb(255, 255, 255); /* Color de la marca al pasar el ratón */
}

.dropdown-menu{
  --bs-dropdown-link-hover-color: rgb(2, 9, 8);
  --bs-dropdown-link-hover-bg: rgba(218, 218, 218, 0.742);
}


/* ---- MAIN ---- */
.odontologos-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(14, 12, 12); 
}

.odontologos-header {
  padding: 2em 0;
  color: white;
}

/* Estilos para el contenido principal */
.odontologos-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

/* TABLA */

.table {
  border-collapse: separate;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;
  width: 50vw;
}

.table th {
  padding: .25rem .75rem; /* Espaciado interno de las celdas de encabezado */
}

.table td {
  padding: .25rem .75rem; /* Espaciado interno de las celdas */
  vertical-align: middle; /* Alineación vertical */
}


/* FORM UPDATING ODONTOLOGO */

#odontologo_updating {
  display: none;
  background-color: #1e1e1e; /* Fondo oscuro */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
  max-width: 800px; /* Ancho máximo */
}

.form-group label {
  color: #b0b0b0; /* Color del texto del label */
}

.form-control {
  background-color: #333333; /* Fondo del input */
  border: 1px solid #444444; /* Borde */
  color: #e0e0e0; /* Color del texto */
}

.form-control:focus {
  background-color: #444444; /* Fondo del input cuando está enfocado */
  border-color: #555555; /* Borde cuando está enfocado */
  color: #ffffff; /* Color del texto cuando está enfocado */
}

.btn-primary {
  background-color: #5F9FB7; /* Color de fondo del botón primario */
  border: none; /* Sin borde */
  margin: 0.5em 0; /* Margen superior e inferior */
}

.btn-primary:hover {
  background-color: #3dd5f3; /* Color de fondo del botón primario al pasar el ratón */
}

.btn-secondary{
  background-color: rgb(155, 8, 8);
  border: none;
  margin: 0.5em 0;
}

.btn-secondary:hover{
  background-color: rgb(175, 5, 5);
}

#response {
  display: none;
  margin-top: 10px;
  color: #ffffff; /* Color del texto de respuesta */
  text-align: center; /* Alineación del texto */
}

